resource "exoscale_anti_affinity_group" "test" {
  name        = "terraform-provider-test-{{ .ID }}"
  description = "description-test"
}

resource "exoscale_anti_affinity_group" "test_no_description" {
  name = "terraform-provider-test-{{ .ID }}-no-description"
}
