*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
/bin/
/build/
/pkg/
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
dist
release
vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs

/terraform-provider-exoscale
