*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
/bin/
/build/
/dist/
/pkg/
/website/.bundle
/website/.vagrant
/website/build
/website/node_modules
/website/vendor
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

# Keep windows files with windows line endings
*.winfile eol=crlf
/.vs
