dist: trusty
sudo: required
services:
  - docker
language: go
go:
- 1.9.1

install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- go get github.com/golang/dep/cmd/dep

script:
- test "${TRAVIS_PULL_REQUEST}" != "false" && make test || echo "skipping test"
- test "${TRAVIS_PULL_REQUEST}" = "false" && make testacc || echo "skipping testacc"
- make vet
- make vendor-status || echo ":-)"
# it requires changes in hashicorp/terraform-website
# - make website-test

branches:
  only:
  - master
matrix:
  fast_finish: true
  allow_failures:
  - go: tip
