locals {
  zone = "{{ .Zone }}"
}

resource "exoscale_sks_cluster" "test" {
  zone           = local.zone
  name           = "terraform-provider-test-{{ .ID }}"
  description    = "description-test"
  exoscale_ccm   = true
  metrics_server = false
  auto_upgrade   = true
  labels = {
    test = "acctest"
  }
  feature_gates = ["GracefulNodeShutdown"]

  enable_kube_proxy             = true
  create_default_security_group = true

  oidc {
    client_id       = "test-client"
    groups_claim    = "test-groups-claim"
    groups_prefix   = "test-groups-prefix"
    issuer_url      = "https://id.example.net"
    required_claim  = { test = "test-required-claim" }
    username_claim  = "test-username-claim"
    username_prefix = "test-username-prefix"
  }

  timeouts {
    create = "10m"
  }
}

resource "exoscale_sks_nodepool" "test" {
  zone          = local.zone
  cluster_id    = exoscale_sks_cluster.test.id
  name          = "test"
  instance_type = "standard.small"
  disk_size     = 20
  size          = 1

  timeouts {
    delete = "10m"
  }
}
