resource "exoscale_sks_cluster" "test-with-audit" {
  zone           = "{{ .Zone }}"
  name           = "terraform-provider-test-{{ .ID }}"
  description    = "description-test"
  exoscale_ccm   = true
  metrics_server = false
  auto_upgrade   = true
  labels = {
    test = "acctest"
  }

  audit {
    enabled      = true
    endpoint     = "https://audit-updated.example.exoscale.net"
    bearer_token = "newsupersecretbearertoken"
  }

  timeouts {
    create = "10m"
  }
}
