locals {
  zone = "{{ .Zone }}"
}

resource "exoscale_sks_cluster" "test" {
  zone = local.zone
  name = "terraform-provider-test-{{ .ID }}"

  timeouts {
    create = "10m"
  }
}

resource "exoscale_sks_kubeconfig" "test_admin" {
  zone = local.zone

  cluster_id            = exoscale_sks_cluster.test.id
  user                  = "kube-user"
  groups                = ["kube-group"]
  ttl_seconds           = 3600
  early_renewal_seconds = 600
}
