locals {
  zone = "{{ .Zone }}"
}

resource "exoscale_sks_cluster" "test" {
  zone = local.zone
  name = "terraform-provider-test-{{ .ID }}"

  timeouts {
    create = "10m"
  }
}

data "exoscale_sks_cluster_list" "list" {
  zone = local.zone
}
