locals {
  zone = "{{ .Zone }}"
}

resource "exoscale_sks_cluster" "test" {
  zone = local.zone
  name = "terraform-provider-test-{{ .ID }}"

  timeouts {
    create = "10m"
  }
}

resource "exoscale_sks_nodepool" "test" {
  zone          = local.zone
  cluster_id    = exoscale_sks_cluster.test.id
  name          = "terraform-provider-test-{{ .ID }}"
  instance_type = "standard.small"
  disk_size     = 20
  size          = 1

  timeouts {
    delete = "10m"
  }
}
