resource "exoscale_iam_access_key" "test" {
  name       = "terraform-provider-test-{{ .ID }}"
  operations = ["list-instances"]
  resources  = ["sos/bucket:terraform-provider-test-{{ .ID }}"]
  tags       = ["sos"]
}
