resource "exoscale_block_storage_volume" "test_volume" {
  name = "terraform-provider-test-{{ .ID }}-renamed-again"
  labels = {
    foo1 = "bar1"
    foo2 = "bar2"
    foo3 = "bar3"
  }
  size = 10
  zone = "{{ .Zone }}"
}

data "exoscale_block_storage_volume" "test_volume" {
  zone = "{{ .Zone }}"
  id = exoscale_block_storage_volume.test_volume.id
}

