data "exoscale_template" "test_template" {
  zone = "{{ .Zone }}"
  name = "Linux Ubuntu 22.04 LTS 64-bit"
}

resource "exoscale_ssh_key" "test_key" {
  name       = "terraform-provider-test-{{ .ID }}"
  public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGhXL32fOylqUARtE6mPuQPm37B15OlH7GDshQRBPhpx test"
}

resource "exoscale_compute_instance" "test_instance" {
  zone        = "{{ .Zone }}"
  name        = "terraform-provider-test-{{ .ID }}"
  type        = "standard.tiny"
  disk_size   = 10
  template_id = data.exoscale_template.test_template.id
  ipv6        = true
  ssh_key     = exoscale_ssh_key.test_key.name
  reverse_dns = "tf-provider-rdns-list-test.exoscale.com"

  labels = {
    test = "label-{{ .ID }}"
  }

  timeouts {
    delete = "10m"
  }
}

data "exoscale_compute_instance_list" "by_name" {
  zone = "{{ .Zone }}"
  name = exoscale_compute_instance.test_instance.name
}

data "exoscale_compute_instance_list" "by_reverse_dns" {
  zone        = "{{ .Zone }}"
  reverse_dns = "tf-provider-rdns-list-test.exoscale.com."
  labels = {
    test = "label-{{ .ID }}"
  }
}

data "exoscale_compute_instance_list" "by_id_and_state" {
  zone  = "{{ .Zone }}"
  id    = exoscale_compute_instance.test_instance.id
  state = "running"
}

data "exoscale_compute_instance_list" "by_name_regex" {
  zone      = "{{ .Zone }}"
  name      = "/^terraform-provider-test-{{ .ID }}$/"
  disk_size = 10
}
