resource "exoscale_database" {{ .ResourceName }} {
  name = "{{ .Name }}"
  type = "thanos"
  plan = "{{ .Plan }}"
  zone = "{{ .Zone }}"

  {{- if .MaintenanceDow }}
  maintenance_dow = "{{ .MaintenanceDow }}"
  {{- end }}

  {{- if .MaintenanceTime }}
  maintenance_time = "{{ .MaintenanceTime }}"
  {{- end }}
  termination_protection = {{- .TerminationProtection }}
  thanos {
    {{- if .IpFilter }}
    ip_filter = [
    {{- range $k,$v := .IpFilter }}
       "{{ $v }}",
    {{- end }}
    ]
    {{- end }}

    {{- if .ThanosSettings }}
    thanos_settings = {{ .ThanosSettings }}
    {{- end }}
  }
}
