---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Deprecated"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

!> **WARNING:** This resource is **DEPRECATED** and will be removed in the next major version. Please use [exoscale_compute_instance](./compute_instance.md) instead.

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}

Please refer to the [examples](https://github.com/exoscale/terraform-provider-exoscale/tree/master/examples/)
directory for complete configuration examples.

{{- end }}

{{ .SchemaMarkdown | trimspace }}

-> The symbol ❗ in an attribute indicates that modifying it, will force the creation of a new resource.

{{ if .HasImport -}}
## Import

{{ codefile "shell" .ImportFile }}

{{- end }}
