---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Deprecated"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

!> **WARNING:** This resource is **DEPRECATED** and will be removed in the next major version. Please use [exoscale_private_network](./private_network.md) instead.

{{ if .HasExample -}}
## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

-> The symbol ❗ in an attribute indicates that modifying it, will force the creation of a new resource.

{{ if .HasImport -}}
## Import

{{ codefile "shell" .ImportFile }}

{{- end }}
