---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Manage Exoscale SSH Keys.
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Manage Exoscale [SSH Keys](https://community.exoscale.com/documentation/compute/ssh-keypairs/).

## Example Usage

```hcl
resource "exoscale_ssh_key" "my_ssh_key" {
  name       = "my-ssh-key"
  public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGRY..."
}
```

Should you want to _create_ an SSH keypair (including *private* key) with Terraform, please use the
[tls_private_key](https://registry.terraform.io/providers/hashicorp/tls/latest/docs/resources/private_key)
resource:

```hcl
resource "tls_private_key" "my_ssh_key" {
  algorithm = "ED25519"
}

resource "exoscale_ssh_key" "my_ssh_key" {
  name       = "my-ssh-key"
  public_key = tls_private_key.my_ssh_key.public_key_openssh
}
```

Please refer to the [examples](https://github.com/exoscale/terraform-provider-exoscale/tree/master/examples/) directory for complete configuration examples.

{{ .SchemaMarkdown | trimspace }}

-> The symbol ❗ in an attribute indicates that modifying it, will force the creation of a new resource.

{{ if .HasImport -}}
## Import

An existing SSH key may be imported as a resource by `<name>`:

{{ codefile "shell" .ImportFile }}

{{- end }}
