resource "exoscale_vpc" "test_vpc" {
  zone        = "{{ .Zone }}"
  name        = "terraform-provider-test-{{ .ID }}"
  description = "description-test"
  dns_servers   = ["8.8.8.8", "1.1.1.1"]
  ntp_servers   = ["42.42.42.42", "43.43.43.43"]
  domain_search = ["my.domain", "their.domain"]
  labels = {
    A = "B"
  }
}

data "exoscale_vpc" "test_vpc_by_id" {
  zone = "{{ .Zone }}"
  id   = resource.exoscale_vpc.test_vpc.id
}

data "exoscale_vpc" "test_vpc_by_name" {
  zone = "{{ .Zone }}"
  name = resource.exoscale_vpc.test_vpc.name
}
