---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description }}

## Example Usage

```terraform
data "exoscale_nlb_service_list" "example_nlb_services" {
  name = "my-nlb"
}

# Outputs
output "nlb_services_output" {
  value = data.exoscale_nlb_service_list.example_nlb_services.services
}
```

Please refer to the [examples](https://github.com/exoscale/terraform-provider-exoscale/tree/master/examples/)
directory for complete configuration examples.

{{ .SchemaMarkdown }}
