---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description }}

## Example Usage

```hcl
data "exoscale_zones" "example_zones" {}

# Outputs
output "zones_output" {
  value = data.exoscale_zones.example_zones.zones
}
```

Please refer to the [examples](https://github.com/exoscale/terraform-provider-exoscale/tree/master/examples/)
directory for complete configuration examples.

{{ .SchemaMarkdown }}
