<% wrap_layout :layout do %>
<div class="container section">
  <div class="columns">
    <div id="docs-sidebar" class="column is-one-third" role="complementary">
      <%= yield_content :sidebar %>
    </div>

    <article id="inner" class="column content" role="main">
      <%= yield %>
    </article>
  </div>
</div>
<% end %>
